body {
    background-image: url('../images/wpp.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    min-height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body, *, a:hover { 
    cursor:url(../Images/cursor.cur), auto; 
}

header {
    text-align: center;
    padding-top: 1.75rem;
    height: calc(120px + 32px);
}

header div {
    width: 7.5rem;
    margin: auto;
    background-image: linear-gradient(90deg, rgba(149,114,252,1) 0%, rgba(67,216,231,1) 50%, rgba(254,145,229,1) 100%);
    border-radius: 50%;
    display: flex;
    padding: 0.25rem;
    transition: transform .5s ease-in-out;
    animation: fromTop .7s .2s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 2rem auto;
    display: grid;
    gap: 1.5rem;
    flex-grow: 1;
}

main section {
    color: #e393ff;
    background: linear-gradient(90deg, rgba(149,114,252,1) 0%, rgba(67,216,231,1) 50%, rgba(254,145,229,1) 100%);
    padding-top: 0.25rem;
    border-radius: 0.625rem;
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

section div {
    background-color: #EBEFF2;
    padding: 1.75rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
    opacity: 90%;  
}

section h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    font-size: 24px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

section ul li {
    transition: transform .5s ease-in-out;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 4.375rem;
    border-radius: 50%;
    border: 1px solid #443E54;
}

.social-list {
    align-items: center;
}

.social-list li:nth-child(3) img {
   width: 32px;
}

footer {
    background: linear-gradient(90deg, rgba(149,114,252,1) 0%, rgba(67,216,231,1) 50%, rgba(254,145,229,1) 100%);
    width: 100%;
    padding: 3px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer p {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    color: #7469B6;
}

footer p img {
    width: 1.375rem;
}

/* animation */

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}